.App {
  text-align: center;
}

.topbox{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.topbox1{
  display: flex;
  justify-content: space-between;
  margin: 50px;
} 
.box{
  border: 1px solid black;
  width: 290px;
  margin:2%;
  padding: 10px;
  background-color: rgb(147, 223, 157);
}
.box2{
  display:grid;
  grid-template-columns: auto auto auto ;
  justify-content: center;
  gap: 30px;
}
.box3{
  text-align: center;
  color: rgb(0, 155, 0);
  font-size: 25px;
  font-weight: bold;
}
.box4{
  border-radius: 5px;
  background-color:rgb(80, 233, 80) ;
}
